.index_footer{
    width: 100%;
    background-color: #4C4A4B;
    color: #F7F5F5;
    border-radius: 0 0 3px 3px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social_media img{
    width: 30px;
    transition: all 250ms ease-in-out;
}

.social_media img:hover{
    scale: 1.2;
}

.social_media{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 10px;
}

.footer_menu{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
    gap: 10px;
}

.footer_menu a{
    transition: all 250ms ease-in-out;
}

.footer_menu a:hover{
    color: #ff8000;
}

.copyright_notice{
  color: #E6E6E6;
}


