.index_main {
    width: 100%;
    flex: 1;
    display: flex;
}

.main_left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.restaurant_header {
    position: relative;
    height: 200px;
    border-radius: 3px;
    background-image: url("/assets/imgs/fotos/Pizza-Bremen.jpg");
    background-size: cover;
    margin:3px;
}

.pizza_bremen_logo {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    width: 100px;
    border: 1px solid #ecebeb;
    position: absolute;
    left: 45%;
    top: 150px;
}

.restaurant_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.bewertung {
    color: #FF8000;
    font-size: 14px;
}

/* ---hauptgerichte_beilage */

.hauptgerichte_beilage{
    width: 100%;
    height: 60px;
    background-color: rgb(219, 218, 218);
    display: flex;
    align-items: center;
    padding-left: 4px;
    gap: 10px;
}

.hauptgerichte_beilage button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(48, 48, 48);
    font-size: 16px;
    font-weight: 600;
    gap: 5px;
    transition: all 500ms ease-in-out;
    padding: 12px 14px;
}

.hauptgerichte_beilage button:hover {
    scale: 1.05;
    background-color: rgb(182, 181, 181);
}

.hauptgerichte{
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
}

/* ---article */

.div_article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin: 10px;
}

.article {
    width: 100%;
    height: 150px;
    border-radius: 3px;
    display: flex;
    background-color: rgba(243, 243, 243, 0.219);
    border: 1px solid #e2e0e0;
}

.article:hover {
    background-color: rgb(243, 243, 243);
    border: 1px solid #e2e0e0;
}

.pizza_detail {
    width: 100%;
    height: 150px;
    display: flex;
}

.pizza_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
}

.pizza_info {
    padding-left: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.pizza_info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.add_pizza {
    display: flex;
    align-items: center;
    padding-right: 50px;
}

.btn_add_pizza {
    background: none;
    border: none;
    cursor: pointer;
    transition: scale 250ms ease-in-out;
}

.btn_add_pizza:hover {
    scale: 1.1;
}

.main_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: rgba(243, 243, 243, 0.219);
    border: 1px solid #e2e0e0;
    padding: 10px;
    border-radius: 3px;
    margin: 3px 3px 10px 0;
}

/* ---Warenkorb */
.warenkorb {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 5px;
}

/* ---ShoppingCart */

.ShoppingCart{
    width: 90%;
}

.deliveryMethod{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.zur_kasse_btn{
    margin-top: 30px;
    text-align: center;
}

.zur_kasse_btn a{
    display: flex;
    align-items: center;
    color: #FF8000;
    justify-content: center;
    gap: 10px;
    border: 1px solid #e9e9e9;
    padding: 5px;
    transition: all 400ms ease-in-out;
    border-radius: 3px;
}

.zur_kasse_btn a:hover{
    color: white;
    background-color: #FF8000;
}