@media(max-width:1418px) {
    .div_body {
        width: 90%;
    }
}

@media(max-width:1263px) {
    .div_body {
        width: 95%;
    }
}

@media(max-width:1195px) {
    .div_body {
        width: 98%;
    }
}

/* ---main */

@media(max-width:1150px) {
    .pizza_img {
        display: none;
    }
}

@media(min-width:991px) {
    .middle_none {
        display: none;
    }
}

@media(max-width:990px) {
    .main_right {
        display: none;
    }

    .btn_middle_cart {
        position: fixed;
        bottom: 0;
        justify-content: center;
        align-items: center;
        background-color: #ff8000;
        color: white;
        height: 50px;
        width: 98%;
        border: 1px solid #c96502;
        font-size: 16px;
        cursor: pointer;
    }

    .middle_shopping_cart {
        position: fixed;
        bottom: 50px;
        width: 98%;
        height: 100vh;
        background-color: white;
    }

    .div_body {
        margin-bottom: 50px;
    }
}

@media(max-width:720px) {
    .ul_radiobox {
        padding-top: 10px;
        flex-direction: column;
    }

    .ul_radiobox ul {
        padding-top: 5px;
        flex-direction: column;
    }

    .ingredients {
        flex-direction: column;
    }

    .ingredients li {
        padding-right: 0;
        list-style: inside;
    }

    .article {
        height: 290px;
    }
}

@media(max-width:560px) {
    .restaurant_title {
        flex-direction: column;
        margin-top: 40px;
    }
}

/* ---footer */

@media(max-width:410px) {
    .copyright_notice {
        text-align: center;
    }

    .footer_menu {
        flex-direction: column;
        align-items: center;
    }

    .add_pizza {
        padding-right: 20px;
    }

    .index_footer {
        height: 300px;
    }
}

@media(max-width:330px) {
    .div_body {
        width: 100%;
    }

    .hauptgerichte_beilage {
        padding-left: 0px;
        gap: 5px;
    }

    .middle_shopping_cart {
        width: 100%;
    }

    .btn_middle_cart {
        width: 100%;
    }
}

/* --Checkout */

@media(max-width:920px) {
    .checkout_main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}