@media(max-width:768px) {
    .div_body {
        width: 95%;
    }
}

@media(max-width:1380px) {
    .div_body {
        width: 87%;
    }
}

@media(max-width:1260px) {
    .div_body {
        width: 95%;
    }
}
